---
import NextJS from "@/icons/NextJS.astro";
import ReactJS from "@/icons/ReactJS.astro";
import Tailwind from "@/icons/Tailwind.astro";
import CSS from "@/icons/CSS.astro";
import Image from "astro/components/Image.astro";
import GitHub from "@/icons/GitHub.astro";
import LinkButton from "./LinkButton.astro";
import Link from "@/icons/Link.astro";
import Mongo from "@/icons/Mongo.astro";
import Svelte from "@/icons/Svelte.astro";
import { getI18N } from "@/i18n";

const TAGS = {
  CSS: {
    name: "CSS",
    class: "bg-[#073d65] text-white",
    icon: CSS,
  },
  REACT: {
    name: "React.js",
    class: "bg-[#016f89] text-white",
    icon: ReactJS,
  },
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  SVELTE: {
    name: "Svelte",
    class: "bg-[#cc3100] text-white",
    icon: Svelte,
  },
  MONGO: {
    name: "MongoDB",
    class: "bg-[#02793b] text-white",
    icon: Mongo,
  },
};

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const PROJECTS = [
  {
    ...i18n.PROJECTS[0],
    color: "text-stone-600 dark:text-stone-400",
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.MONGO],
  },
  {
    ...i18n.PROJECTS[1],
    color: "text-amber-600",
    tags: [TAGS.CSS, TAGS.SVELTE],
  },
  {
    ...i18n.PROJECTS[2],
    color: "text-[#940740]",
    tags: [TAGS.CSS, TAGS.REACT],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(
      ({ title, color, subtitle, description, link, github, image, tags }) => (
        <article class="flex flex-col lg:flex-row gap-6 hover:scale-105 transition-transform">
          <Image
            class="rounded shadow-2xl w-full lg:w-1/2 dark:shadow-white/10"
            src={image.url}
            alt={image.alt}
            width="300"
            height="200"
          />
          <div class="sticky top-28 flex flex-col h-max">
            <h3 class={`text-4xl font-semibold ${color}`}>{title}</h3>
            <h4 class="text-2xl mb-2">{subtitle}</h4>
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>
            <p class="text-lg opacity-80">{description}</p>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  {i18n.CODE}
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  {i18n.PREVIEW}
                </LinkButton>
              )}
            </footer>
          </div>
        </article>
      ),
    )
  }
</div>
